.course-img {
  animation: zoom 2s;
}
.course-title {
  animation: slide 2s linear;
}
.course-desc {
  animation: slide 2s linear;
}
@keyframes zoom {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes slide {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  25% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
    /* opacity: 1; */
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
